.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212529;
  color: #f4f4f4;
}

.copyright {
  background-color: #212529;
  color: #f4f4f4;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.copyright-text {
  color: #f4f4f4;
}