@import '~carbon-components/scss/globals/scss/styles.scss';
$font-prefix: "~@ibm/plex";

@import "~@ibm/plex/scss/ibm-plex.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  height: 100%;
}

#root {
  height: 100%;
}

.text-center {
  text-align: center;
}