name: Build and Test

on:
  pull_request:
    branches: develop

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.18.3]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        yarn --frozen-lockfile
        npx audit-ci -m

    - name: Run linters
      run: |
        yarn format:check
        yarn lint

    - name: Run accessibility checks
      run: ./bin/run_accessibility_checks.sh
      env:
        APP_NAME: react-illustrator-app

    - name: Run build
      run: yarn build
      env:
        CI: true

  test:
    name: Test
    needs: [build]
    runs-on: ubuntu-latest

    steps:
    - name: Run test
      run: yarn test