name: Deploy Stage

on:
  push:
    branches: develop

# Environment variables available to all jobs and steps in this workflow
env:
  PROJECT: dev-ops-pipeline
  APP_NAME: dev-ops-pipeline

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.18.3]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        yarn --frozen-lockfile
        npx audit-ci -m

    - name: Run build
      run: yarn build
      env:
        CI: true

    - name: Run test
      run: yarn test

  deploy:
    name: Deploy
    needs: [test]
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Set up the oc CLI, authenticate and deploy to OpenShift
    - name: Set up oc CLI and deploy to OpenShift
      uses: redhat-developer/openshift-actions@v2.1.0
      with:
        version: '4.3'
        openshift_server_url: ${{ secrets.OPENSHIFT_SERVER_URL }}
        parameters: '{"apitoken": "${{ secrets.OPENSHIFT_API_TOKEN }}", "acceptUntrustedCerts": "true"}'
        cmd: |
          oc project ${PROJECT}
          oc new-app ${GITHUB_WORKSPACE} --name ${APP_NAME}
    # Expose the service created by using the oc CLI installed previously
    - name: Execute additional oc commands
      run: |
        oc expose svc/${{ env.APP_NAME }}
